<?xml version="1.0"?>
<!--

  Copyright (c) 2020, PAL Robotics, S.L.
  All rights reserved.
-->
<robot name="kangaroo" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="kangaroo_lower_body_simple_simulation_transmission" params="side">
    <transmission name="leg_${side}_1_transmission">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="leg_${side}_1_motor" >
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/JointStateInterface</hardwareInterface>
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
      <joint name="leg_${side}_1_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/JointStateInterface</hardwareInterface>
      </joint>
    </transmission>
    <transmission name="leg_${side}_2_transmission">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="leg_${side}_2_motor" >
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/JointStateInterface</hardwareInterface>
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
      <joint name="leg_${side}_2_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/JointStateInterface</hardwareInterface>
      </joint>
    </transmission>
    <transmission name="leg_${side}_3_transmission">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="leg_${side}_3_motor" >
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/JointStateInterface</hardwareInterface>
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
      <joint name="leg_${side}_3_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/JointStateInterface</hardwareInterface>
      </joint>
    </transmission>
    <transmission name="leg_${side}_leg_length_transmission">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="leg_${side}_length_motor" >
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/JointStateInterface</hardwareInterface>
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
      <joint name="leg_${side}_length_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/JointStateInterface</hardwareInterface>
      </joint>
    </transmission>
  </xacro:macro>

  <xacro:macro name="kangaroo_leg_length_actuator_transmission" params="side number1 number2 params_ns:=/leg_params" >
    <transmission name="leg_${side}_leg_length_trans">
      <type>pal_transmissions/LegCustomTransmission</type>
      <actuator name="leg_${side}_length_motor" >
      </actuator>
      <joint name="leg_${side}_length_joint">
        <joint_type> leg_length </joint_type>
        <param_ns> ${params_ns} </param_ns>
        <offset> 0.0 </offset>
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/JointStateInterface</hardwareInterface>
      </joint>
    </transmission>
  </xacro:macro>

  <xacro:macro name="hip_transmission_roll_pitch" params="side roll_joint pitch_joint">
    <transmission name="leg_${side}_transmission_roll_pitch">
      <type>pal_transmissions/HipCustomTransmission</type>
      <actuator name="leg_${side}_${roll_joint}_motor">
        <role>actuator1</role>
        <virtual_linear_actuator>
          <screw_lead> 0.005 </screw_lead>
          <efficiency> 0.9 </efficiency>
          <limits>
            <position>
              <min> 0.0 </min>
              <max> 0.10 </max>
            </position>
            <velocity>
              <min> -0.3 </min>
              <max> 0.3 </max>
            </velocity>
          </limits>
        </virtual_linear_actuator>
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
      <actuator name="leg_${side}_${pitch_joint}_motor">
        <role>actuator2</role>
        <virtual_linear_actuator>
          <screw_lead> 0.005 </screw_lead>
          <efficiency> 0.9 </efficiency>
          <limits>
            <position>
              <min> 0.0 </min>
              <max> 0.10 </max>
            </position>
            <velocity>
              <min> -0.3 </min>
              <max> 0.3 </max>
            </velocity>
          </limits>
        </virtual_linear_actuator>
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
      <joint name="leg_${side}_${roll_joint}_joint">
        <role>joint1</role>
        <limits>
          <position>
            <min> ${ -27.0 * deg_to_rad} </min>
            <max> ${ 27.0 * deg_to_rad} </max>
          </position>
        </limits>
        <configuration>
          <offset_x> 0.035 </offset_x>
          <offset_y> 0.051 </offset_y>
          <projected_distance> 0.17650 </projected_distance>
          <dx> 0.035 </dx>
          <dy> 0.060 </dy>
        </configuration>
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <joint name="leg_${side}_${pitch_joint}_joint">
        <role>joint2</role>
        <limits>
          <position>
            <min> ${ -42.5 * deg_to_rad} </min>
            <max> ${ 42.5 * deg_to_rad} </max>
          </position>
        </limits>
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
    </transmission>
  </xacro:macro>

  <xacro:macro name="hip_transmission_yaw" params="side number reduction">
    <transmission name="leg_${side}_transmission_yaw">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="leg_${side}_${number}_motor" >
        <mechanicalReduction>${reduction}</mechanicalReduction>
      </actuator>
      <joint name="leg_${side}_${number}_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
    </transmission>
  </xacro:macro>

</robot>

