<?xml version="1.0"?>
<!--

  Copyright (c) 2020, PAL Robotics, S.L.
  All rights reserved.
-->
<robot name="kangaroo" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="kangaroo_leg_length_actuator_transmission" params="side number1 number2 femur intersection_crank_axis fbl11_long fbl11_short fbl21_fixed fbl21_long fbl21_short crank_slider_long crank_slider_short crank_slider_axis_angle shin_offset_angle connection_fbl_offset_angle knee_angle_min knee_angle_max" >
    <transmission name="leg_${side}_leg_length_trans">
      <type>transmission_interface/LegLengthActuatorTransmission</type>
      <actuator name="leg_${side}_leg_length_motor" >
        <femur>${femur}</femur> 
        <fbl11_long>${fbl11_long}</fbl11_long>
        <fbl11_short>${fbl11_short}</fbl11_short>
        <intersection_crank_axis>${intersection_crank_axis}</intersection_crank_axis>
        <fbl21_fixed>${fbl21_fixed}</fbl21_fixed>
        <fbl21_long>${fbl21_long}</fbl21_long>
        <fbl21_short>${fbl21_short}</fbl21_short>
        <crank_slider_long>${crank_slider_long}</crank_slider_long>
        <crank_slider_short>${crank_slider_short}</crank_slider_short>
        <crank_slider_axis_angle>${crank_slider_axis_angle}</crank_slider_axis_angle>
        <shin_offset_angle>${shin_offset_angle}</shin_offset_angle>
        <connection_fbl_offset_angle>${connection_fbl_offset_angle} </connection_fbl_offset_angle> 
        <knee_angle_min>${knee_angle_min}</knee_angle_min>
        <knee_angle_max>${knee_angle_max}</knee_angle_max>
      </actuator>
      <joint name="leg_${side}_${number1}_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
       <joint name="leg_${side}_${number2}_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
    </transmission>
  </xacro:macro>
</robot>

