<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!--
    If true, shutdown timeout for spawner is set to 1.0 due to this issue:
      https://github.com/ros-controls/ros_control/issues/195
  -->
  <arg name="enable_unloading_workaround" default="false" />
  <arg name="ft_sensors"  default="false"/>
  <arg name="demo_mode"   default="true" />
  <arg name="robot_type"/>

  <!-- Load Legs' Transmission Parameters -->
  <rosparam command="load" file="$(find kangaroo_controller_configuration)/config/transmission_parameters.yaml" />

  <!-- Joint state controller -->
  <include file="$(find kangaroo_controller_configuration)/launch/joint_state_controller.launch"/>

  <!-- Fake FT Sensor Estimator -->
  <include file="$(find ft_sensor_estimator)/launch/ft_sensor_estimator.launch">
    <arg name="robot_type"  value="$(arg robot_type)"/>
  </include>
 
  <group if="$(arg demo_mode)">
    <!-- Position Controllers -->
    <include file="$(find kangaroo_controller_configuration)/launch/position_controllers.launch">
       <arg name="start_controllers" value="false"/>
    </include>

    <include file="$(find pal_lip_mpc_actions)/launch/kangaroo_reactive_walk_kinematic_controller.launch">
      <arg name="start_controllers" value="false"/>
      <arg name="robot_type"  value="$(arg robot_type)"/>
    </include>
  </group>

  <!-- Introspection controller -->
  <include file="$(find introspection_controller)/introspection_controller.launch"/>

  <!-- IMU sensors controller -->
  <rosparam command="load" file="$(find imu_sensor_controller)/imu_sensor_controller.yaml" />

  <!-- FT sensors controller -->
  <group if="$(arg ft_sensors)">
    <include file="$(find force_torque_sensor_controller)/force_torque_sensor_controller.launch"/>
  </group>

  <!-- Actuator PID controller -->
  <rosparam command="load" file="$(find kangaroo_controller_configuration)/config/actuator_pid_gains.yaml" ns="actuator_pid_command_controller" />
  <arg if="$(arg enable_unloading_workaround)"
      name="extra_args"
      value="--shutdown-timeout 1.0" />
  <arg unless="$(arg enable_unloading_workaround)"
      name="extra_args"
      value="" />

  <!-- Controllers that come up started -->
  <node name="bringup_controllers_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="$(arg extra_args)
              imu_sensor_controller
              actuator_pid_command_controller" />
</launch>
