<launch>

  <arg name="robot_type" default="$(eval open('/tmp/robot_type.yaml').read().split(':')[1].strip())"/>
  <arg name="with_legs" value="$(eval arg('robot_type') in ['full_4dof', 'full_7dof', 'full_7dof_gripper', 'lowerbody', 'arms_4dof_no_pelvis', 'arms_7dof_no_pelvis', 'arms_7dof_gripper_no_pelvis', 'pelvis_no_arms'])"/>
  
  <include file="$(find kangaroo_controller_configuration)/launch/position_controllers.launch">
    <arg name="robot_type" value="$(arg robot_type)" />
    <arg name="with_legs" value="$(arg with_legs)" />
  </include>

</launch>
