<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="simulation" default="false"/>
  <arg name="controller_name" default="gravity_compensation"/>
  <arg name="safety_override" default=""/>
  <arg name="disable_safety_for_joints" default=""/>

  <rosparam command="load"
      file="$(find kangaroo_controller_configuration)/config/gravity_compensation.yaml" ns="$(arg controller_name)"/>

  <group if="$(arg simulation)">
    <include file="$(find kangaroo_controller_configuration)/launch/local_joint_control/leg_left.launch">
      <arg name="local_joint_control_type" value="direct_torque_control"/>
      <arg name="local_joint_control_pkg" value="pal_local_joint_control" />
      <arg name="ns" value="$(arg controller_name)"/>
      <arg name="safety_override" value="$(arg safety_override)"/>
      <arg name="disable_safety_for_joints" value="$(arg disable_safety_for_joints)"/>
    </include>

    <include file="$(find kangaroo_controller_configuration)/launch/local_joint_control/leg_right.launch">
      <arg name="local_joint_control_type" value="direct_torque_control"/>
      <arg name="local_joint_control_pkg" value="pal_local_joint_control" />
      <arg name="ns" value="$(arg controller_name)"/>
      <arg name="safety_override" value="$(arg safety_override)"/>
      <arg name="disable_safety_for_joints" value="$(arg disable_safety_for_joints)"/>
    </include>
  </group>

  <group unless="$(arg simulation)">
    <include file="$(find kangaroo_controller_configuration)/launch/local_joint_control/no_control_partial/leg_left_force_control.launch">
      <arg name="local_joint_control_type" value="inertia_shaping_kangaroo_analytic_dob_control"/>
      <arg name="local_joint_control_pkg" value="inertia_shaping_effort_control" />
      <arg name="ns" value="$(arg controller_name)"/>
    </include>

    <include file="$(find kangaroo_controller_configuration)/launch/local_joint_control/no_control_partial/leg_right_force_control.launch">
      <arg name="local_joint_control_type" value="inertia_shaping_kangaroo_analytic_dob_control"/>
      <arg name="local_joint_control_pkg" value="inertia_shaping_effort_control" />
      <arg name="ns" value="$(arg controller_name)"/>
    </include>
  </group>

  <rosparam command="delete" ns="/gravity_compensation"/>

  <node name="locomotion_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="$(arg controller_name)" />

</launch>
