<launch>

  <!--
    If true, shutdown timeout for spawner is set to 1.0 due to this issue:
      https://github.com/ros-controls/ros_control/issues/195
  -->
  <arg name="enable_unloading_workaround" default="false" />


  <arg name="controllers" default="" /> <!-- override default controllers -->
  <arg name="prismatic" default="false" />

	<group if="$(arg prismatic)" >
   <rosparam command="load" file="$(find kangaroo_controller_configuration)/config/joint_trajectory_controllers/leg_left_prismatic.yaml"/>
   <rosparam command="load" file="$(find kangaroo_controller_configuration)/config/joint_trajectory_controllers/leg_right_prismatic.yaml"/>
	</group>
	<group unless="$(arg prismatic)">
   <rosparam command="load" file="$(find kangaroo_controller_configuration)/config/joint_trajectory_controllers/leg_left.yaml"/>
   <rosparam command="load" file="$(find kangaroo_controller_configuration)/config/joint_trajectory_controllers/leg_right.yaml"/>
  </group>
  <arg name="controllers_to_load"
      value="left_leg_controller right_leg_controller" />

  <arg unless="$(eval arg('controllers') == '')"
      name="controllers_to_load"
      value="$(arg controllers)" />

  <arg if="$(arg enable_unloading_workaround)"
      name="extra_args"
      value="--shutdown-timeout 1.0" />
  <arg unless="$(arg enable_unloading_workaround)"
      name="extra_args"
      value="" />

  <node name="body_controllers_spawner"
      pkg="controller_manager" type="spawner" output="screen"
      args="$(arg extra_args) $(arg controllers_to_load)" />

</launch>
