<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="prefix" />
  <arg name="suffix" value=".yaml" />
  <arg name="robot" default="full" />

  <group if="$(eval arg('robot') == 'full')" >
    <rosparam command="load" file="$(arg prefix)leg_left$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)leg_right$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)torso$(arg suffix)" />
  </group>

  <group if="$(eval arg('robot') == 'leg_right')" >
    <rosparam command="load" file="$(arg prefix)leg_right$(arg suffix)" />
  </group>

  <group if="$(eval arg('robot') == 'leg_left')" >
    <rosparam command="load" file="$(arg prefix)leg_left$(arg suffix)" />
  </group>

  <group if="$(eval arg('robot') == 'torso')" >
    <rosparam command="load" file="$(arg prefix)torso$(arg suffix)" />
  </group>

  <group if="$(eval arg('robot') == 'lower_body')" >
    <rosparam command="load" file="$(arg prefix)leg_left$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)leg_right$(arg suffix)" />
  </group>


</launch>
