<?xml version="1.0"?>
<!--

  Copyright (c) 2020, PAL Robotics, S.L.
  All rights reserved.
-->

<robot name="kangaroo" xmlns:xacro="http://ros.org/wiki/xacro">

<!-- default kangaroo model -->
<xacro:include filename="$(find kangaroo_description)/robots/kangaroo.urdf.xacro" />

<!-- needed by RBDL and CartesI/O -->
<link name="world"/>
<joint name="reference" type="floating">
	<parent link="world"/>
	<child link="base_link"/>
</joint>

</robot>
