<?xml version="1.0"?>
<!--

  Copyright (c) 2020, PAL Robotics, S.L.
  All rights reserved.
-->
<robot name="kangaroo" xmlns:xacro="http://ros.org/wiki/xacro"
        xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
        xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
        xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <xacro:property name="deg_to_rad"       value="0.01745329251994329577" />

  <xacro:include filename="$(find kangaroo_description)/urdf/sensors/imu.urdf.xacro" />

  <!--************************-->
  <!--        BASE_LINK       -->
  <!--************************-->
  <xacro:include filename="$(find kangaroo_description)/urdf/base/base.urdf.xacro"/>
  <xacro:base_link with_cage="$(arg use_cage)"/>

  <xacro:if value="$(arg enable_crane)">
    <xacro:include filename="$(find kangaroo_description)/urdf/crane/crane.urdf.xacro" />
    <xacro:crane parent="base_link"/>
  </xacro:if>
  <xacro:if value="$(arg fixed_base)">
    <link name="world"/>
    <joint name="world_base_link" type="fixed">
      <origin xyz="0.0 0.0 1.2" rpy="0.0  0.0  0.0"/>
      <parent link="world" />
      <child link="base_link" />
    </joint>
  </xacro:if>
  <xacro:include filename="$(find kangaroo_description)/urdf/leg/leg.urdf.xacro" />

  <xacro:kangaroo_imu name="imu" parent="base_link" update_rate="100.0">
    <origin xyz="-0.07075 0.0 0.012" rpy="${180.0*deg_to_rad} ${0.0*deg_to_rad} ${0.0*deg_to_rad}"/>
  </xacro:kangaroo_imu>

  <xacro:kangaroo_leg side="left" reflect="1" parent="base_link" simulation="$(arg simulation)" use_mimic="$(arg use_mimic)" ft_sensors="$(arg ft_sensors)">
    <origin xyz="-0.01602 0.08 -0.0585" rpy="0 0 0"/>
  </xacro:kangaroo_leg>
  <xacro:kangaroo_leg side="right" reflect="-1" parent="base_link" simulation="$(arg simulation)"  use_mimic="$(arg use_mimic)" ft_sensors="$(arg ft_sensors)">
    <origin xyz="-0.01602 -0.08 -0.0585" rpy="0 0 0"/>
  </xacro:kangaroo_leg>
  <!-- Generic simulator_gazebo plugins -->
  <xacro:include filename="$(find kangaroo_description)/gazebo/gazebo.urdf.xacro" />
  <!-- Materials for visualization -->
  <xacro:include filename="$(find kangaroo_description)/urdf/materials.urdf.xacro" />

</robot>
