<?xml version="1.0"?>
<!--

  Copyright (c) 2020, PAL Robotics, S.L.
  All rights reserved.
-->
<robot name="kangaroo" xmlns:xacro="http://ros.org/wiki/xacro"
        xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
        xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
        xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <xacro:arg name="with_legs" default="true" />
  <xacro:arg name="with_pelvis" default="false" />
  <xacro:arg name="with_arms" default="false" />
  <xacro:arg name="with_belt" default="false" />
  <xacro:arg name="torso_2024" default="false" />
  <xacro:arg name="simulation" default="false" />
  <xacro:arg name="torso_front_camera_model" default="realsense-D435i" />
  <xacro:arg name="torso_back_camera_model" default="realsense-D435i" />
  <xacro:arg name="waist_front_camera_model" default="realsense-D435i" />
  <xacro:arg name="waist_back_camera_model" default="realsense-D435i" />

  <xacro:property name="with_legs" value="$(arg with_legs)" />
  <xacro:property name="with_pelvis" value="$(arg with_pelvis)" />
  <xacro:property name="with_arms" value="$(arg with_arms)" />
  <xacro:property name="with_belt" value="$(arg with_belt)" />
  <xacro:property name="torso_2024" value="$(arg torso_2024)" />
  <xacro:property name="simulation" value="$(arg simulation)" />
  <xacro:property name="torso_front_camera_model" value="$(arg torso_front_camera_model)" />
  <xacro:property name="torso_back_camera_model" value="$(arg torso_back_camera_model)" />
  <xacro:property name="waist_front_camera_model" value="$(arg waist_front_camera_model)" />
  <xacro:property name="waist_back_camera_model" value="$(arg waist_back_camera_model)" />
 
  
  <xacro:if value="${torso_front_camera_model not in ['realsense-D435i']}">
    <xacro:wrong_torso_front_camera_model/>
  </xacro:if>
  
  <xacro:if value="${torso_back_camera_model not in ['realsense-D435i']}">
    <xacro:wrong_torso_back_camera_model/>
  </xacro:if>

  <xacro:if value="${waist_front_camera_model not in ['realsense-D435i']}">
    <xacro:wrong_waist_front_camera_model/>
  </xacro:if>
  
  <xacro:if value="${waist_back_camera_model not in ['realsense-D435i']}">
    <xacro:wrong_waist_back_camera_model/>
  </xacro:if>

  <xacro:include filename="$(find kangaroo_description)/urdf/deg_to_rad.xacro" />

  <!--************************-->
  <!--        BASE_LINK       -->
  <!--************************-->
  <xacro:include filename="$(find kangaroo_description)/urdf/base/base.urdf.xacro"/>
  <xacro:base_link with_pelvis="${with_pelvis}" with_belt="${with_belt}" torso_2024="${torso_2024}"/>


  <xacro:if value="$(arg enable_crane)">
    <xacro:include filename="$(find kangaroo_description)/urdf/crane/crane.urdf.xacro" />
    <xacro:crane parent="base_link"/>
  </xacro:if>
  <xacro:if value="$(arg fixed_base)">
    <link name="world"/>
    <joint name="world_base_link" type="fixed">
      <origin xyz="0.0 0.0 1.2" rpy="0.0  0.0  0.0"/>
      <parent link="world" />
      <child link="base_link" />
    </joint>
  </xacro:if>
  
  <!--************************-->
  <!--           LEGS         -->
  <!--************************-->
  <xacro:if value="${with_legs}">
    <xacro:include filename="$(find kangaroo_description)/urdf/leg/leg.urdf.xacro" />
    <xacro:kangaroo_leg side="left" reflect="1" parent="base_link" simulation="$(arg simulation)" use_mimic="$(arg use_mimic)" ft_sensors="$(arg ft_sensors)">
      <origin xyz="-0.0150025976417119 0.08 -0.0585" rpy="0 0 0"/>
    </xacro:kangaroo_leg>
    <xacro:kangaroo_leg side="right" reflect="-1" parent="base_link" simulation="$(arg simulation)"  use_mimic="$(arg use_mimic)" ft_sensors="$(arg ft_sensors)">
      <origin xyz="-0.0150025976417119 -0.08 -0.0585" rpy="0 0 0"/>
    </xacro:kangaroo_leg>
  </xacro:if>
 
  <!--************************-->
  <!--          ARMS          -->
  <!--************************-->
  <xacro:if value="${with_arms}">
    <xacro:include filename="$(find kangaroo_description)/urdf/arm/arm.urdf.xacro" />
    <xacro:kangaroo_arm name="arm" side="left" reflect="1" parent="torso_link" arm_1_offset="0" arm_2_offset="0" arm_3_offset="0" arm_4_offset="0">
      <origin xyz="0 0.105954 0.384396" rpy="1.3963 0 0" />
    </xacro:kangaroo_arm>

    <xacro:kangaroo_arm name="arm" side="right" reflect="-1" parent="torso_link" arm_1_offset="0" arm_2_offset="0" arm_3_offset="0" arm_4_offset="0">
      <origin xyz="0 -0.105954 0.384396" rpy="1.3963 0 3.14159" />
    </xacro:kangaroo_arm>
  </xacro:if>

  <!--************************-->
  <!--         WITHOUT ARMS   -->
  <!--************************-->
 <xacro:unless value="${with_arms}">
   <xacro:include filename="$(find kangaroo_description)/urdf/arm/arm_cover.urdf.xacro" />
   <xacro:kangaroo_arm_cover name="arm_cover" side="left" reflect="1" parent="torso_link">  
     <origin xyz="0 0.105954 0.384396" rpy="1.3963 0 0" />
   </xacro:kangaroo_arm_cover>
   <xacro:kangaroo_arm_cover name="arm_cover" side="right" reflect="-1" parent="torso_link">  
     <origin xyz="0 -0.105954 0.384396" rpy="1.3963 0 3.14159" />
   </xacro:kangaroo_arm_cover>
 </xacro:unless>
  <!-- Generic simulator_gazebo plugins -->
  <xacro:include filename="$(find kangaroo_description)/gazebo/gazebo.urdf.xacro" />

  <!-- Materials for visualization -->
  <xacro:include filename="$(find kangaroo_description)/urdf/materials.urdf.xacro" />

</robot>
