<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="kangaroo">

<xacro:property name="foot_length"   value="0.21" />
<xacro:property name="foot_width"   value="0.09" />

    <xacro:macro name="kangaroo_detachable_foot_frames" params="side parent">
        <link name="${side}_foot">
            <inertial>
                <origin xyz="-0.000166 0.000023 -0.004617" rpy="0 0 0" />
                <mass value="0.170698" />
                <inertia ixx="0.00007" ixy="-0.000001" ixz="0.0"
                        iyy="0.000065" iyz="0.0"
                        izz="0.000125" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://kangaroo_description/meshes/leg/foot.stl" />
                </geometry>
                    <material name="pal/DarkGrey" />
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://kangaroo_description/meshes/leg/foot.stl" />
                </geometry>
            </collision>
        </link>
        <joint name="${side}_foot_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="${parent}" />
            <child link="${side}_foot" />
            <axis xyz="0 0 0" />
        </joint>
        <link name="${side}_foot_ft">
            <inertial>
                <origin xyz="-0.000443003666554599 0.000522074497974099 -0.0153068327087122" rpy="0 0 0" />
                <mass value="0.345" />
                <inertia ixx="0.000104" ixy="0.000003" ixz="-0.000002"
                        iyy="0.000102" iyz="0.000002"
                        izz="0.000155" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://kangaroo_description/meshes/leg/foot-ft.stl" />
                </geometry>
                <material name="pal/DarkGrey" />
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://kangaroo_description/meshes/leg/foot-ft.stl" />
                </geometry>
            </collision>
        </link>
        <joint name="${side}_foot_ft" type="fixed">
            <origin xyz="0 0 -0.014" rpy="0 0 3.1416" />
            <parent link="${side}_foot" />
            <child link="${side}_foot_ft" />
            <axis xyz="0 0 0" />
        </joint>
        <link name="${side}_foot_sole">
            <inertial>
                <origin xyz="-0.004657 -0.000039 0.022641" rpy="0 0 0" />
                <mass value="1.081199" />
                <inertia ixx="0.001267" ixy="0.0" ixz="0.000111"
                        iyy="0.005705" iyz="0.0"
                        izz="0.00652" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://kangaroo_description/meshes/leg/foot-sole.stl" />
                </geometry>
                <material name="pal/DarkGrey" />
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://kangaroo_description/meshes/leg/foot-sole.stl" />
                </geometry>
            </collision>
        </link>
        <joint name="${side}_foot_sole" type="fixed">
            <origin xyz="0 0 -0.053972" rpy="0 0 -3.1416" />
            <parent link="${side}_foot_ft" />
            <child link="${side}_foot_sole" />
            <axis xyz="0 0 0" />
        </joint>
    </xacro:macro>
</robot>