<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="ft_sensors" default="false"/>
  <arg name="with_legs" default="true"/>
  <arg name="with_pelvis" default="true"/>
  <arg name="with_arms" default="true"/>

  <!-- Hardware configuration -->
  <rosparam command="load" file="$(find kangaroo_bringup)/config/kangaroo_common_hardware.yaml" unless="$(arg ft_sensors)"/>
  <rosparam command="load" file="$(find kangaroo_bringup)/config/kangaroo_common_hardware_with_ft.yaml" if="$(arg ft_sensors)"/>

  <include file="$(find kangaroo_description)/robots/upload.launch">
    <arg name="ft_sensors" value="$(arg ft_sensors)"/>
    <arg name="with_legs"    value="$(arg with_legs)"/>
    <arg name="with_pelvis"    value="$(arg with_pelvis)"/>
    <arg name="with_arms"    value="$(arg with_arms)"/>
  </include>

  <include file="$(find kangaroo_bringup)/launch/kangaroo_bringup.launch">
    <arg name="with_pelvis"    value="$(arg with_pelvis)"/>
    <arg name="with_arms"    value="$(arg with_arms)"/>
    <arg name="ft_sensors" value="$(arg ft_sensors)"/>
  </include>

  <!-- Hardware specific bringup -->
  <include file="$(find kangaroo_controller_configuration)/launch/bringup_controllers_hardware.launch" />

</launch>
