<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="ft_sensors" default="false"/>
  <arg name="with_pelvis" default="true"/>
  <arg name="with_arms" default="true"/>
  <arg name="robot_type" value="$(eval 'full' if arg('with_pelvis') and arg('with_arms') else ('pelvis_no_arms' if arg('with_pelvis') and not arg('with_arms') else ('arms_no_pelvis' if not arg('with_pelvis') and arg('with_arms') else 'lowerbody')))"/>

  <include file="$(find kangaroo_moveit_config)/launch/move_group.launch">
    <arg name="robot_type" value="$(arg robot_type)"/>
  </include>

  <!-- Launch play_motion -->
  <include file="$(find kangaroo_bringup)/launch/play_motion.launch">
    <arg name="robot_type" value="$(arg robot_type)"/>
  </include>
  
  <!-- Load default controllers -->
  <include file="$(find kangaroo_controller_configuration)/launch/bringup_controllers.launch">
    <arg name="ft_sensors" value="$(arg ft_sensors)"/>
    <arg name="robot_type" value="$(arg robot_type)"/>
  </include>

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0"/>
    <param name="tf_prefix" type="string" value=""/>
  </node>

  <!-- Twist mux -->
  <include file="$(find kangaroo_bringup)/launch/twist_mux.launch" />

  <!-- Joystick controller -->
  <include file="$(find kangaroo_bringup)/launch/joystick_teleop.launch" />

</launch>
