<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="robot_type" default=""/>

  <!-- pre-recorded motions -->
  <rosparam file="$(find kangaroo_bringup)/config/kangaroo_motions.yaml" command="load" />

  <group if="$(eval arg('robot_type') in ['arm_4dof_no_pelvis', 'full_4dof'])">
    <rosparam file="$(find kangaroo_bringup)/config/kangaroo_new_motions.yaml" command="load" />
    <rosparam file="$(find kangaroo_bringup)/config/kangaroo_automatica.yaml" command="load" />
  </group>
  <group if="$(eval arg('robot_type') in ['arm_7dof_no_pelvis', 'arm_7dof_gripper_no_pelvis', 'full_7dof', 'full_7dof_gripper'])">
    <rosparam file="$(find kangaroo_bringup)/config/kangaroo_7dof_new_motions.yaml" command="load" />
    <rosparam file="$(find kangaroo_bringup)/config/kangaroo_7dof_automatica.yaml" command="load" />
  </group>
  
  <node pkg="play_motion" type="play_motion" name="play_motion">
    <rosparam file="$(find kangaroo_bringup)/config/$(arg robot_type)_planner.yaml" command="load" />
  </node>
  
  <node pkg="play_motion" type="is_already_there.py" name="is_already_there" />
  
</launch>
