<?xml version="1.0"?>
<!--

  Copyright (c) 2024, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!--File includes-->
  <xacro:include filename="$(find kangaroo_description)/urdf/deg_to_rad.xacro" />
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

  <xacro:macro name="kangaroo_torso" params="parent *origin">

  <link name="torso_link">
    <inertial>
      <origin
        xyz="-0.01 -0.00074 0.22222"
        rpy="0 0 0" />
      <mass
        value="13.33642" />
      <inertia
        ixx="0.28794"
        ixy="-0.00047"
        ixz="-0.00161"
        iyy="0.26647"
        iyz="0.00368"
        izz="0.11215" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <xacro:if value="${torso_2024}">
          <mesh filename="package://kangaroo_description/meshes/torso_link_2024.stl" />
        </xacro:if>
        <xacro:unless value="${torso_2024}">
          <mesh filename="package://kangaroo_description/meshes/torso_link.stl" />
        </xacro:unless>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kangaroo_description/meshes/torso_link_collision.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="torso_link" type="fixed">
    <xacro:insert_block name="origin"/>
    <parent link="${parent}" />
    <child link="torso_link" />
    <axis xyz="0 0 0" />
  </joint>

  <!-- Torso front upper rgbd camera -->
  <xacro:sensor_d435
    name="torso_front_rgbd_camera"
    parent="torso_link"
    topics_ns="torso_front_rgbd_camera"
    use_nominal_extrinsics="${simulation}">
    <origin
      xyz="0.1056 0 0.40767"
      rpy="0 0.5236 0"/>
  </xacro:sensor_d435>

  <!-- Torso back rgbd upper camera -->
  <xacro:sensor_d435
    name="torso_back_rgbd_camera"
    parent="torso_link"
    topics_ns="torso_back_rgbd_camera"
    use_nominal_extrinsics="${simulation}">
    <origin
      xyz="-0.1056 0 0.40767"
      rpy="0 0.5236 ${180.0*deg_to_rad}"/>
  </xacro:sensor_d435>

  <xacro:unless value="${torso_2024}">
    <!-- Torso front lower rgbd camera -->
    <xacro:sensor_d435
      name="waist_front_rgbd_camera"
      parent="torso_link"
      topics_ns="waist_front_rgbd_camera"
      use_nominal_extrinsics="${simulation}">
      <origin
        xyz="0.09504 0 0.18649"
        rpy="0 1.0472 0"/>
    </xacro:sensor_d435>

    <!-- Torso back lower rgbd camera -->
    <xacro:sensor_d435
      name="waist_back_rgbd_camera"
      parent="torso_link"
      topics_ns="waist_back_rgbd_camera"
      use_nominal_extrinsics="${simulation}">
      <origin
        xyz="-0.09504 0 0.18649"
        rpy="0 1.0472 3.1416"/>
    </xacro:sensor_d435>
  </xacro:unless>
  </xacro:macro>

</robot>
