<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="simulation" default="true"/>
  <arg name="fixed_base" default="true"/>
  <arg name="use_mimic" default="false"/>
  <arg name="ft_sensors" default="false"/>
  <arg name="with_legs" default="true"/>
  <arg name="with_pelvis" default="false"/>
  <arg name="with_arms"   default="false"/>
  <arg name="arm_type"   default="4dof"/>
  <arg name="with_belt" default="false" />
  <arg name="torso_2024" default="false" />

  <include file="$(find kangaroo_description)/robots/upload.launch">
    <arg name="simulation"  value="$(arg simulation)"/> 
    <arg name="fixed_base"  value="$(arg fixed_base)"/>
    <arg name="use_mimic"   value="$(arg use_mimic)"/>
    <arg name="ft_sensors"  value="$(arg ft_sensors)"/>
    <arg name="with_legs" value="$(arg with_legs)"/>
    <arg name="with_pelvis" value="$(arg with_pelvis)"/>
    <arg name="with_arms" value="$(arg with_arms)"/>
    <arg name="arm_type" value="$(arg arm_type)"/>
    <arg name="with_belt" value="$(arg with_belt)"/>
    <arg name="torso_2024" value="$(arg torso_2024)"/>
  </include>

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kangaroo_description)/config/rviz.rviz" />
</launch>
