<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="simulation" default="true"/> 
  <arg name="prismatic" default="false"/>
  <arg name="fixed_base" default="true"/>

  <include file="$(find kangaroo_description)/robots/upload.launch">
  	<arg name="simulation" value="$(arg simulation)"/> 
    <arg name="prismatic" value="$(arg prismatic)"/>
    <arg name="fixed_base" default="$(arg fixed_base)"/>
  </include>
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kangaroo_description)/config/rviz.rviz" />
</launch>