<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="gzpose" default="-x 0.0 -y 0.0 -z 0.982 -R 0.0 -P 0.0 -Y 0.0"/>
  <arg name="debug" default="false"/>
  <arg name="enable_crane" default="false"/> 
  <arg name="simulation" default="true"/>
  <arg name="fixed_base" default="false"/>
  <arg name="world" default="kangaroo"/>
  <arg name="use_mimic" default="false"/>
  <arg name="ft_sensors" default="false"/>

  <include file="$(find pal_gazebo_worlds)/launch/pal_gazebo.launch" >
    <arg name="debug" value="$(arg debug)"/>
    <arg name="world" value="$(arg world)"/>
    <arg name="paused" value="false"/>
    <arg name="extra_gz_model_path" default="$(find kangaroo_description)"/>
    <arg name="extra_gz_resource_path" default="$(find kangaroo_description)"/>
    <arg name="extra_gazebo_args" value="--verbose"/>
  </include>

  <include file="$(find kangaroo_description)/robots/upload.launch">
    <arg name="enable_crane" value="$(arg enable_crane)"/> 
    <arg name="simulation" value="$(arg simulation)"/> 
    <arg name="fixed_base" value="$(arg fixed_base)"/> 
    <arg name="use_mimic" value="$(arg use_mimic)"/>
    <arg name="ft_sensors" value="$(arg ft_sensors)"/> 
  </include>

  <!-- define initial joints position values when spawned: 
      Values here for leg length = 642.8 => theta = 50°, beta = 100°-->
<group if="$(arg use_mimic)">
  <arg name="joints_positions_args"
      value=" -J leg_left_2_joint 0.05
              -J leg_left_length_joint 0.55
              -J leg_left_4_joint -0.05
              -J leg_right_2_joint 0.05
              -J leg_right_length_joint 0.55
              -J leg_right_4_joint -0.05" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_model"
    args="-urdf -param robot_description $(arg gzpose) -model kangaroo 
        $(arg joints_positions_args)" />
</group>

<!-- DOES NOT WORK WITH CLOSED IK JOINTS -->
<group unless="$(arg use_mimic)">
  <arg name="joints_positions_args"
      value=" -J leg_left_2_joint 0.04999999999997918
	      -J leg_left_femur_joint 1.1693870096573384
              -J leg_left_knee_joint 2.3401777720374923
              -J leg_left_length_joint 0.6999999999999997
              -J leg_left_4_joint -0.049999999999970346
              -J leg_right_2_joint 0.04999999999997918
	      -J leg_right_femur_joint 1.1693870096573384
              -J leg_right_knee_joint 2.3401777720374923
              -J leg_right_length_joint 0.6999999999999997
              -J leg_right_4_joint -0.049999999999970346" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_model"
    args="-urdf -param robot_description $(arg gzpose) -model kangaroo" output="screen"/>
</group>

  <!-- HOMING -->
  <!-- 'homing' motion is specified in ../kangaroo_bringup/config/kangaroo_motions.yaml -->
  <include file="$(find kangaroo_controller_configuration)/launch/default_controllers.launch"/>

  <node pkg="kangaroo_description" type="homing" name="homing" output="screen">
    <param name="robot_name" type="string" value="kangaroo"/>
    <rosparam param="controllers">["left_leg_controller", "right_leg_controller"]</rosparam>
    <param name="ft_sensors" type="bool" value="$(arg ft_sensors)"/>
  </node>
  <!-- /HOMING  -->
  
  <arg if="$(arg fixed_base)" name="pids_filename_suffix" value="" />
  <arg unless="$(arg fixed_base)"  name="pids_filename_suffix"  value="_contact" />
  <rosparam command="load" file="$(find kangaroo_controller_configuration)/config/pids$(arg pids_filename_suffix).yaml"/>

 <rosparam command="load" file="$(find kangaroo_bringup)/config/sensors/sensors.yaml" />

  <include file="$(find kangaroo_bringup)/launch/kangaroo_bringup.launch">
    <arg name="ft_sensors" value="$(arg ft_sensors)"/>
  </include>

</launch>
