<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="gzpose" default="-x 0.0 -y 0.0 -z 1.1 -R 0.0 -P 0.0 -Y 0.0"/>
  <arg name="debug" default="false"/>
  <arg name="fixed_testbench" default="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="debug" value="$(arg debug)"/>
    <arg name="paused" value="true" />
  </include>

  <include file="$(find kangaroo_description)/robots/upload.launch">
    <arg name="enable_crane" value="true"/> 
  </include>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_model"
    args="-urdf -param robot_description $(arg gzpose) -model kangaroo" />

  <include file="$(find kangaroo_controller_configuration)/launch/position_controllers.launch"/>


  <include file="$(find kangaroo_controller_configuration)/launch/joint_state_controller.launch"/>

  <rosparam command="load" file="$(find kangaroo_controller_configuration)/config/pids.yaml"/>

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0"/>
    <param name="tf_prefix" type="string" value=""/>
  </node>

</launch>
