<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="gzpose" default="-x 0.0 -y 0.0 -z 0.762 -R 0.0 -P 0.0 -Y 0.0"/>
  <arg name="debug" default="false"/>
  <arg name="enable_crane" default="false"/> 
  <arg name="simulation" default="true"/> 
  <arg name="prismatic" default="false"/>
  <arg name="fixed_base" default="true"/>


  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="debug" value="$(arg debug)"/>
    <arg name="paused" value="true"/>
  </include>

  <include file="$(find kangaroo_description)/robots/upload.launch">
    <arg name="enable_crane" value="$(arg enable_crane)"/> 
    <arg name="simulation" value="$(arg simulation)"/> 
    <arg name="prismatic" value="$(arg prismatic)"/> 
    <arg name="fixed_base" value="$(arg fixed_base)"/> 
  </include>

  <!-- define initial joints position values when spawned: 
      Values here for leg length = 642.8 => theta = 50°, beta = 100°-->
  <arg if="$(arg prismatic)"
      name="joints_positions_args"
      value="-J leg_left_4_joint 0.36
             -J leg_right_4_joint 0.36" />
  <arg unless="$(arg prismatic)"
      name="joints_positions_args"
      value=" -J leg_left_4_joint 0.698
              -J leg_left_5_joint 1.396
              -J leg_left_6_joint 0.53
              -J leg_right_4_joint 0.698
              -J leg_right_5_joint 1.396
              -J leg_right_6_joint 0.53" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_model"
    args="-urdf -param robot_description $(arg gzpose) -model kangaroo 
        $(arg joints_positions_args)
        -unpause" />

  <include file="$(find kangaroo_controller_configuration)/launch/position_controllers.launch">
		<arg name="prismatic" value="$(arg prismatic)"/> 
  </include>

  <include file="$(find kangaroo_controller_configuration)/launch/joint_state_controller.launch"/>

  <arg if="$(arg fixed_base)" name="pids_filename_contact_suffixe" value="" />
  <arg unless="$(arg fixed_base)"  name="pids_filename_contact_suffixe"  value="_contact" />
  <arg if="$(arg prismatic)" name="pids_filename_suffixe" value="$(arg pids_filename_contact_suffixe)_prismatic" />
  <arg unless="$(arg prismatic)" name="pids_filename_suffixe" value="$(arg pids_filename_contact_suffixe)" />
  <rosparam command="load" file="$(find kangaroo_controller_configuration)/config/pids$(arg pids_filename_suffixe).yaml"/>


  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0"/>
    <param name="tf_prefix" type="string" value=""/>
  </node>

</launch>
